<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | Error! ;_;</title>
    <link rel="icon" type="image/svg+xml" href="/images/finance.svg"/>
    <link rel="stylesheet" href="/css/error.css"/>
  </head>
  <body>
    <div id="error" class="e{{status}}">
      {% block error %}
      {% endblock %}

      <a href="/">Come back!</a>
    </div>
  </body>
</html>
