<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | {{ current_year.year }}</title>
    <link rel="icon" type="image/svg+xml" href="/images/finance.svg"/>
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>
  <body>
    {{ include("front/partials/header.html.twig") }}
    
    <main id="content">
      {% block content %}
      {% endblock %}
    </main>

    {{ include("front/partials/footer.html.twig") }}
  </body>
</html>
