{% extends "front/base/template-base.html.twig" %}

{% block content %}
    <div class="container">
        <h2>Welcome to 'My Finances News'</h2>
        <p>Stay updated with the latest in finance, economy, and investments. Explore insights, articles, and expert advice to make informed financial decisions.</p>
        <h3>Top Articles</h3>
        <ul>
            <li><a href="/main-news">How to Invest Wisely in 2025</a></li>
            <li>5 Tips to Save More Money Each Month</li>
            <li>Understanding the Stock Market for Beginners</li>
        </ul>
    </div
{% endblock %}